Werkzeug
Django
django-active-link
django_extensions
django-livereload-server
django-cors-headers
mysql-connector-python
mysqlclient
sqlparse
tornado
six
asgiref
colorama
watchdog
bs4
gunicorn
django-axes
django-cors-headers
requests
lxml
feedparser
openai
pygments
pytest
pytest-django
cryptography
python-dotenv
tzdata
inotify